<section class="overview-grid">
  <div class="stat-card">
    <div class="stat-icon">⚽</div>

    <div>
      <span class="stat-label">Goluri</span>

      <strong>
        {{ totalGoals }}
      </strong>
    </div>
  </div>

  <div class="stat-card">
    <div class="stat-icon">🏟️</div>

    <div>
      <span class="stat-label">Meciuri</span>

      <strong>
        {{ totalMatches }}
      </strong>
    </div>
  </div>

  <div class="stat-card">
    <div class="stat-icon">🟨</div>

    <div>
      <span class="stat-label">Cartonase galbene</span>

      <strong>
        {{ totalYellowCards }}
      </strong>
    </div>
  </div>

  <div class="stat-card">
    <div class="stat-icon">🟥</div>

    <div>
      <span class="stat-label">Cartonase rosii</span>

      <strong>
        {{ totalRedCards }}
      </strong>
    </div>
  </div>
</section>
