<div class="legend">
  <div class="legend-section">
    <h3>Calificare</h3>

    <div class="legend-item">
      <span class="qualified-box"></span>
      <span>Faza eliminatorie</span>
    </div>
  </div>

  <div class="legend-section">
    <h3>Ultimele cinci meciuri</h3>

    <div class="legend-item">
      <mat-icon class="win">check_circle</mat-icon>
      <span>Victorie</span>
    </div>

    <div class="legend-item">
      <mat-icon class="draw">remove_circle</mat-icon>
      <span>Remiza</span>
    </div>

    <div class="legend-item">
      <mat-icon class="lose">cancel</mat-icon>
      <span>Infrangere</span>
    </div>

    <div class="legend-item">
      <mat-icon class="none">radio_button_unchecked</mat-icon>
      <span>Nu a jucat</span>
    </div>
  </div>
</div>
