<nav class="navbar">
  <div class="logo">World Cup 2026</div>

  <ul class="menu">
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Acasa
      </a>
    </li>

    <li>
      <a routerLink="/faza-eliminatorie" routerLinkActive="active"> Faza Eliminatorie </a>
    </li>

    <li>
      <a routerLink="/clasament-grupe" routerLinkActive="active"> Clasament Grupe </a>
    </li>

    <li>
      <a routerLink="/istoric-meciuri" routerLinkActive="active"> Istoric Meciuri </a>
    </li>

    <li>
      <a routerLink="/harta" routerLinkActive="active"> Harta </a>
    </li>

    <li>
      <a routerLink="/fantasy" routerLinkActive="active"> Fantasy League </a>
    </li>

    <li>
      <a routerLink="/statistics" routerLinkActive="active"> Statistics </a>
    </li>
  </ul>
</nav>
