<section aria-labelledby="available-players-title">
  <h2 id="available-players-title">Jucatori disponibili</h2>

  <ul
    cdkDropList
    id="players"
    [cdkDropListData]="players"
    [cdkDropListConnectedTo]="['team']"
    (cdkDropListDropped)="drop($event)"
  >
    @for (player of players; track player.id ?? player.name) {
      <li cdkDrag class="player-card">
        <img [src]="player.photo" [alt]="player.name" width="60" />

        <span>
          {{ player.name }}
        </span>
      </li>
    }
  </ul>
</section>
