<main class="fantasy-page">
  <header>
    <h1>Fantasy League</h1>
  </header>

  <app-team-form [team]="team"></app-team-form>

  <section class="filters" aria-labelledby="filters-title">
    <header class="filter-header">
      <h2 id="filters-title">Filtru jucatori</h2>
    </header>

    <form class="filter-row" (submit)="$event.preventDefault(); search()">
      <fieldset class="filter-item">
        <label for="competition-type">Tip competitie</label>

        <select
          id="competition-type"
          [(ngModel)]="selectedType"
          (change)="filterLeague()"
          name="selectedType"
        >
          <option value="">Toate</option>

          <option value="League">Ligi</option>

          <option value="Cup">Cupe</option>
        </select>
      </fieldset>

      <fieldset class="filter-item">
        <label for="country">Tara</label>

        <select
          id="country"
          [(ngModel)]="selectedCountry"
          (change)="filterLeague()"
          name="selectedCountry"
        >
          <option value="">Toate tarile</option>

          @for (c of countries; track c.name) {
            <option [value]="c.name">{{ c.name }}</option>
          }
        </select>
      </fieldset>

      <fieldset class="filter-item league">
        <label for="league">Competitie</label>

        <select id="league" [(ngModel)]="selectedLeague" name="selectedLeague">
          <option value="">Alege liga</option>

          @for (l of filteredLeagues; track l.league.id) {
            <option [value]="l.league.id">
              {{ l.league.name }}
              -
              {{ l.country.name }}
            </option>
          }
        </select>
      </fieldset>

      <button class="search-btn" type="submit">Cauta</button>
    </form>

    <section class="player-search-box" aria-label="Cautare jucator">
      <label for="player-search">Cauta jucator</label>

      <input
        id="player-search"
        class="player-search"
        type="text"
        placeholder="Ex: Messi, Ronaldo..."
        [(ngModel)]="searchPlayer"
        (input)="filterPlayers()"
        name="searchPlayer"
      />
    </section>
  </section>

  <section class="fantasy-container" aria-label="Lista jucatorilor si echipa selectata">
    <app-player-list [players]="filteredPlayers" (dropPlayer)="dropPlayer($event)">
    </app-player-list>

    <app-selected-team [selectedPlayers]="selectedPlayers" (dropPlayer)="dropPlayer($event)">
    </app-selected-team>
  </section>

  <footer class="buttons">
    <button class="save-btn" (click)="saveTeam()">Salveaza echipa</button>
  </footer>
</main>
