@if (player) {
  <div class="popup">
    <button class="close-btn" (click)="close.emit()">✕</button>

    <img class="player-photo" [src]="player.photo" [alt]="player.name" />

    <h2>{{ player.name }}</h2>

    <div class="details">
      <p>
        <b>Post:</b>
        {{ player.position || '-' }}
      </p>

      <p>
        <b>Numar:</b>
        {{ player.number || '-' }}
      </p>

      <p>
        <b>Varsta:</b>
        {{ player.age || '-' }}
        @if (player.age) {
          ani
        }
      </p>
    </div>

    <h3>Statistici sezon</h3>

    @if (player.stats) {
      <div>
        <p>
          Meciuri:
          {{ player.stats.games?.appearences || 0 }}
        </p>

        <p>
          Goluri:
          {{ player.stats.goals?.total || 0 }}
        </p>

        <p>
          Assisturi:
          {{ player.stats.goals?.assists || 0 }}
        </p>

        <p>
          Galbene:
          {{ player.stats.cards?.yellow || 0 }}
        </p>

        <p>
          Rosii:
          {{ player.stats.cards?.red || 0 }}
        </p>
      </div>
    }
  </div>
}
